# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/antivirus-evasion/.vs/antivirus-evasion/v15
/antivirus-evasion/Release
/antivirus-evasion/x86-shellcode-runpe/Release
/shellcode-utils/.vs/shellcode-utils/v15
/shellcode-utils/pe-shellcode-extractor/x64/Debug
/shellcode-utils/x64/Debug
/antivirus-evasion/x86-stub-example/Release
